:root {
  --text: #111827;
  --background-color: #EFEFEF;
  --input-background: #fff;
  --link: #0F9E59;
  --link-hover: #0bdf79;
  --light-text: #496495;
  --button-text: #fff;
  --aside: #d7d5ce;
  --link-visited: #af52de;
  --link-prose-hover: #2ECD92;
}


@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
} 
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

body {
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
}

b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 650;
  color: var(--text)
}

h1 {
  font-variation-settings: 'wght' 850;
  color: var(--text)
}

h2 {
  font-variation-settings: 'wght' 750;
  color: var(--text)
}

.nx-prose :where(p):not(:where([class~=nx-not-prose] *)) {
  font-size: 1.1rem;
  font-variation-settings: 'wght' 500;
  line-height: 1.75;
}

@media screen and (min-device-pixel-ratio: 1.5),
screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.shrink {
  margin-top: -1.5em !important;
  margin-bottom: -1.5em !important;
}

.nav-line .nav-link {
  color: #69778c;
}

.nx-prose :where(li, a):not(:where([class~=nx-not-prose] *)) {
  font-size: 1.1rem;
  font-variation-settings: 'wght' 500;
  line-height: 1.75;
  text-decoration: none;
}

.nx-prose :where(ul>li, a):not(:where([class~=nx-not-prose] *))::selection {
  background-color: var(--link-prose-hover);
  color: var(--text);
}

.nx-prose :where(p, h2, em, strong):not(:where([class~=nx-not-prose] *))::selection {
  background-color: var(--link-prose-hover);
  color: var(--text);
}


.nx-prose :where(a,ul>li):not(:where([class~=nx-not-prose] *)) {
  color: var(--text);
  font-weight: 500;
  transition: all .25s ease-in;
  text-decoration: none !important;
}

.nx-prose :where(a,ul>li):not(:where([class~=nx-not-prose] *)):hover {
  color: white;
  background-color: var(--link-prose-hover);
}


.nx-prose :where(li):not(:where([class~=nx-not-prose] *)) {
  margin-top: 0;
  margin-bottom: 0;
}